* {
    box-sizing: border-box;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0); /* Clip the element */
    border: 0;
}

body {
    font-family: Arial, sans-serif;
    padding: 20px;
    background-color: #f5f5f5;
    margin: 0;
}



.inputs {
    display:inline-block;
    padding: 10px;
}

@media (min-width: 900px) {
    .container {
        max-width: 900px;
        margin: 0 auto;
        background-color: #fff;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        border-radius: 5px;
        padding: 20px;
    }

    button{
        margin: 0 auto;
    }
    .buttons{
        display: grid;
        grid-template-columns: auto auto;
    }
    
}



@media (max-width: 900px) {

    table{
        margin-right:20px;
    }
    button {
        margin: 0;
    }
}

h1 {
    text-align: center;
    margin-bottom: 20px;
}

table {
    border-collapse: collapse;
    display: inline-block;
}

th, td {
    padding: 10px;
    border: 1px solid #ddd;
    text-align: center;
}

tr:nth-child(2n) {
    background-color: #f2f2f2;
  }
tr:nth-child(2n+1) {
background-color: #ffffff;
}

input[type="text"], input[type="number"] {
    width: 100px;
    padding: 5px;
    text-align: center;
}

.currencyinput {
    position: relative;
}

.currencyinput:before {
    position: absolute;
    top: 0;
    content:"$";
    left: 5px;
}



button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    margin: 5px;
}

button:hover {
    background-color: #0056b3;
}

.social-sharing a {
    display: inline-block;
    background-color: #007bff; /* Bootstrap primary color */
    color: white;
    padding: 10px 15px;
    border-radius: 5px;
    text-decoration: none;
    margin:5px;
}

.social-sharing a:hover {
    background-color: #0056b3; /* Darker shade on hover */
}
